body {
  width: 100%;
}

.container {
  box-sizing: border-box;
  background-color: #f0f2f5;
}
.clr {
  clear: both;
}

.main {
  width: 100%;
  background-color: #f0f2f5;
  padding-bottom: 132px;
  padding-top: 54px;
}

/* FIRST//////////////////////////////////////////// */
.first {
  width: 30%;
  height: 306px;
  margin: 0 20px 300px 314px;
  padding: 10px 10px 50px 10px;
  float: left;
  position: relative;
}

.logofb {
  position: absolute;
  left: -4px;
}
.h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.5;
  position: absolute;
  top: 55px;
  left: 17px;
}
.h6 {
  color: #706c6c;
  font-size: 15px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 83px;
  left: 17px;
}

/* TRIPLE///////////////////////////////////////// */
.triple {
  width: 100%;
  box-sizing: border-box;
}
.h4-1 {
  background-color: #fff;
  color: #3b3939;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: lighter;
  padding: 10px 51px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0.1pc solid rgb(231, 225, 225);
  border-left: 0.1pc solid rgb(231, 225, 225);
  border-right: 0.1pc solid rgb(231, 225, 225);
  position: absolute;
  left: 18px;
  bottom: -27px;
}
.h4-2 {
  background-color: #fff;
  color: #3b3939;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: lighter;
  padding: 10px 45px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0.1pc solid rgb(231, 225, 225);
  border-left: 0.1pc solid rgb(231, 225, 225);
  border-right: 0.1pc solid rgb(231, 225, 225);
  position: absolute;
  left: 194px;
  bottom: -27px;
}
.h4-3 {
  background-color: #fff;
  color: #1877f2;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: lighter;
  padding: 10px 30px;
  margin: 8px -40px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0.1pc solid rgb(231, 225, 225);
  border-left: 0.1pc solid rgb(231, 225, 225);
  border-right: 0.1pc solid rgb(231, 225, 225);
  border-top: 0.1px solid #fff;
  position: absolute;
  right: 38px;
  bottom: -53px;
}
.man {
  background-image: url("../images/voja.jpg");
  width: 160px;
  height: 160px;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: 0.1pc solid rgb(231, 225, 225);
  border-left: 0.1pc solid rgb(231, 225, 225);
  border-right: 0.1pc solid rgb(231, 225, 225);
  position: absolute;
  left: 18px;
  top: 160px;
  cursor: pointer;
}
.woman {
  background-image: url("../images/sneza.jpg");
  width: 165px;
  height: 163px;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  right: 163px;
  top: 160px;
}
.other {
  background-image: url("../images/nalog.png");
  width: 164px;
  height: 162px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: 0.1pc solid rgb(231, 225, 225);
  border-left: 0.1pc solid rgb(231, 225, 225);
  border-right: 0.1pc solid rgb(231, 225, 225);
  position: absolute;
  right: -22px;
  top: 160px;
}
/* BUTTON??????????????????????????? */

.x {
  background-color: rgb(173, 169, 169);
  color: #fff;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 0.2px 4px;
  border-radius: 60px;
  border: 1px solid rgb(146, 143, 143);
  position: absolute;
  top: 165px;
  left: 22px;
}
.x:hover {
  background-color: #fff;
  color: rgb(173, 169, 169);
  width: 25px;
  height: 25px;
  border: 1px solid rgb(214, 210, 210);
}
.y {
  background-color: rgb(95, 91, 91);
  color: #fff;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 0.2px 4px;
  border-radius: 60px;
  border: 1px solid rgb(146, 143, 143);
  position: absolute;
  top: 164px;
  left: 198px;
}

.y:hover {
  width: 25px;
  height: 25px;
  background-color: #fff;
  color: rgb(173, 169, 169);
  border-radius: 50px;
}

.c {
  background-color: #fa3e3e;
  color: #fff;
  font-weight: lighter;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 60px;
  border: 1px solid #fa3e3e;
  position: absolute;
  top: 157px;
  left: 159px;
}

.d {
  background-color: #fa3e3e;
  color: #fff;
  font-weight: lighter;
  font-size: 10px;
  padding: 5px 3px;
  border-radius: 50px;
  border: 1px solid #fa3e3e;
  position: absolute;
  top: -6px;
  right: 177px;
}
.cover {
  width: 165px;
  height: 205px;
}

.cover-1 {
  width: 163px;
  height: 204px;
  position: absolute;
  top: 161px;
  left: 18px;
}

.cover-2 {
  width: 165px;
  height: 208px;
  position: absolute;
  left: 197px;
  top: 160px;
}

.cover:hover {
  box-shadow: 1.5px 1px 15px 2px rgb(201, 196, 196);
}
.cover-1:hover {
  box-shadow: 1.5px 1px 15px 2px rgb(201, 196, 196);
}
.cover-2:hover {
  box-shadow: 1.5px 1px 15px 2px rgb(201, 196, 196);
}
.two:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* SECOND///////////////////////////////////////////////////// */
.second {
  float: right;
  margin-right: 352px;
  margin-bottom: 90px;
  margin-top: -70px;
  width: 24%;
  height: 351px;
  box-shadow: 1.5px 9px 13px 1px rgb(209, 208, 208);
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}
.under {
  position: absolute;
  left: 15px;
  top: 363px;
}
.under-text {
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.forms {
  width: 94%;
  padding: 10px;
}

.contact {
  margin: 1px;
  padding: 5px;
}
.input {
  width: 90%;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1.5px solid rgb(219, 216, 216);
}
input:focus {
  outline: none !important;
  border-color: #4398f3;
  box-shadow: 0 0 2px #719ece;
}

.button-1 {
  width: 100%;
  background-color: #1877f2;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
  padding: 13px 100px;
  border-radius: 6px;
  border: 0.1px solid rgb(202, 198, 198);
}

.button-1:hover {
  background-color: #166fe5;
}

.button-2 {
  width: 60%;
  margin: 5px 0 5px 65px;
  padding: 12px 0;
  background-color: #42b72a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid #42b72a;
}
.button-2:hover {
  background-color: #33a31d;
}
.forgot {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1877f2;
}
.link:hover {
  border-bottom: 0.1px solid #1877f2;
}
.line {
  border-bottom: 1px solid rgb(202, 198, 198);
  padding-top: 18px;
  margin-bottom: 18px;
}
/* footer//////////////////////////////////////////////////////////////////// */
#footer {
  width: 980px;
  margin: 0 331px;
  background-color: #fff;
  color: #969292;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.foot {
  float: left;
  width: 70%;
  margin: 18px 5px 0 0;
}
.but {
  margin-left: -70px;
  padding-top: 22px;
  float: left;
}
.plus {
  color: #555454;
  font-weight: 400;
  font-size: 19px;
  padding: 0px 10px;
  border: 0.1px solid #d4cfcf;
  border-radius: 3px;
}
.brake {
  margin-right: 6px;
  padding-top: 55px;
  border-bottom: 1px solid #d8d2d2;
}
.footerlang {
  padding-left: 0;
  list-style-type: none;
}
.li {
  display: inline;
  padding-right: 8px;
  font-size: 12px;
}
.li a {
  color: #969292;
  text-decoration: none;
}
.li a:hover {
  text-decoration: underline;
}
.list {
  margin-top: 10px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 18px;
  display: inline;
}
.list.info {
  padding-right: 30px;
}
.list a {
  color: #969292;
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
}
.footerul {
  padding-left: 0;
  position: relative;
}
.copy {
  margin-top: 24px;
  margin-bottom: 20px;
  font-size: 11px;
}
.copy.text {
  cursor: text;
}
.choice {
  position: absolute;
  top: 39px;
  right: 316px;
}
abbr[title] {
  text-decoration: none;
}
